*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #548687;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    color: #b0413e;
    background-color: whitesmoke;
}   

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: none;
    background-color: antiquewhite;
}

#new-game{
    background-color: antiquewhite;
}

#msg{
    font-size: 290%;
    color: burlywood;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}

.msg-container{
    height: 10cap;
}

.hide{
    display: none;

}

@media (max-width: 600px) {
    h1 {
        font-size: 1.8rem;
    }

    .game {
        width: 90vmin;
        height: 90vmin;
        gap: 2vmin;
    }

    .box {
        width: 26vmin;
        height: 26vmin;
        font-size: 10vmin;
    }

    #msg {
        font-size: 180%;
    }

    #reset-btn,
    #new-game {
        font-size: 1rem;
        padding: 0.8rem;
    }
}

@media (max-width: 400px) {
    .box {
        width: 28vmin;
        height: 28vmin;
        font-size: 12vmin;
    }

    #msg {
        font-size: 150%;
    }
}
